#title {
  color: black;
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.75);
  padding-bottom: 1rem;
  text-shadow: 0 0 1rem #ffffff;
  padding-top: 4rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-top: -10px;
  font-variant: small-caps;
}

body {
  background-color: #000000;
  padding: 0;
  margin: 0;
  text-align: center;
}

#gradient {
  width: 100%;
  margin: 0 0 10px;
  min-height: 100vh;
  padding-bottom: 10px;
}

.container {
  margin-top: 0;
  padding: 10px;
  background-image: url("https://images7.alphacoders.com/938/thumb-1920-938300.jpg");
  border-radius: 10px;
  box-shadow: 20px 20px 50px 10px #b49197;
}

#waves {
  display: flex;
  opacity: 0.65;
}

#remaining-guesses {
  text-shadow: 0 0 1rem #ffffff;
}

footer {
  box-shadow: 20px 20px 20px 50px;
  margin-bottom: 0;
  margin-top: 10px;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: Segoe UI Semibold, serif;
  background-color: rgba(255, 255, 255, 0.62);
  color: black;
  text-shadow: 0 0 1rem #ffffff;
  text-align: center;
}

#hangmanPic {
  margin-left: 40%;
}

#definition-btn, #reset_btn {
  font-size: 2rem;
}

.definition-div {
  display: flex;
  color: black;
  text-shadow: 0 0 1rem #ffffff;
  margin: 10px;
}

#definition-output-div {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.definition-txt {
  font-size: 1.25rem;
  display: flex;
  align-content: center;
  border: #007bff;
  border-radius: 5px;
  padding: 0.5rem;
  opacity: 0.65;
  background-color: rgba(255, 255, 255, 0.75);
}

.hint-btn,
.reset-btn,
.notif-btn {
  cursor: pointer;
}

.reset-btn {
  margin-left: auto;
}

.alpha {
  border: none;
  border-radius: 4px;
  margin: 3px;
  cursor: pointer;
}

.alpha:hover {
  border: none;
  opacity: 0.85;
}

.disabled {
  pointer-events: none;
  background-color: darkgray;
}

#letter-container {
  display: flex;
  justify-content: center;
  border: #007bff 5px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 5px auto;
  background-color: rgba(255, 255, 255, 0.75);
}

.word-div {
  display: inline-flex;
}

.word {
  margin-right: 1.5rem;
}

.notif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(252, 240, 108, 0.8);
  width: 20rem;
  padding: 20px 10px;
  border-radius: 4px;
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.2);
}

#play_again_btn {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.blur {
  filter: blur(10px);
}

.hidden {
  display: none;
}

html,
body {
  height: 100%;
}

canvas {
  display: block;
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-color: transparent;
}

.bgTop {
  z-index: 15;
  opacity: 0.5;
}

.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}

.bgBottom {
  z-index: 5;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.waveTop {
  background-size: 50% 100px;
}

.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.waveMiddle {
  background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}

.waveBottom {
  background-size: 50% 100px;
}

.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

/*STAR CSS*/
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 366px 279px #FFF, 780px 302px #FFF, 352px 377px #FFF, 58px 903px #FFF, 1613px 626px #FFF, 1980px 1317px #FFF, 1422px 119px #FFF, 467px 1114px #FFF, 229px 405px #FFF, 1264px 1854px #FFF, 1793px 836px #FFF, 949px 129px #FFF, 183px 606px #FFF, 1814px 1461px #FFF, 983px 184px #FFF, 643px 810px #FFF, 97px 724px #FFF, 1110px 15px #FFF, 341px 46px #FFF, 107px 1990px #FFF, 952px 1161px #FFF, 328px 820px #FFF, 695px 1123px #FFF, 616px 731px #FFF, 1173px 1740px #FFF, 755px 755px #FFF, 729px 798px #FFF, 216px 1508px #FFF, 966px 881px #FFF, 575px 1756px #FFF, 1857px 1972px #FFF, 1369px 1478px #FFF, 1965px 43px #FFF, 1795px 161px #FFF, 1219px 288px #FFF, 1220px 728px #FFF, 1141px 877px #FFF, 1455px 1835px #FFF, 800px 1785px #FFF, 1080px 1822px #FFF, 957px 925px #FFF, 1165px 903px #FFF, 950px 1736px #FFF, 1763px 1009px #FFF, 182px 1430px #FFF, 376px 417px #FFF, 1509px 1343px #FFF, 119px 88px #FFF, 831px 1397px #FFF, 1497px 1977px #FFF, 291px 458px #FFF, 1262px 1492px #FFF, 992px 652px #FFF, 1204px 820px #FFF, 1255px 122px #FFF, 1377px 702px #FFF, 1721px 1028px #FFF, 340px 1362px #FFF, 617px 723px #FFF, 269px 1659px #FFF, 490px 1822px #FFF, 538px 319px #FFF, 308px 1080px #FFF, 186px 149px #FFF, 272px 1702px #FFF, 1694px 404px #FFF, 423px 1764px #FFF, 1602px 1982px #FFF, 1469px 959px #FFF, 1447px 1085px #FFF, 1614px 84px #FFF, 732px 492px #FFF, 42px 889px #FFF, 450px 1254px #FFF, 1573px 1010px #FFF, 657px 1238px #FFF, 292px 188px #FFF, 1920px 1235px #FFF, 136px 1627px #FFF, 603px 1591px #FFF, 1602px 480px #FFF, 1225px 899px #FFF, 1811px 733px #FFF, 833px 1652px #FFF, 1261px 857px #FFF, 268px 973px #FFF, 926px 888px #FFF, 1655px 469px #FFF, 1604px 1630px #FFF, 538px 492px #FFF, 768px 1010px #FFF, 1745px 1032px #FFF, 1976px 894px #FFF, 460px 1402px #FFF, 770px 282px #FFF, 1385px 1734px #FFF, 1218px 346px #FFF, 1842px 1223px #FFF, 270px 1078px #FFF, 248px 630px #FFF, 637px 1694px #FFF, 746px 1892px #FFF, 1219px 719px #FFF, 1564px 1650px #FFF, 1488px 1889px #FFF, 1310px 1001px #FFF, 311px 1246px #FFF, 1101px 1757px #FFF, 760px 390px #FFF, 1324px 1784px #FFF, 1359px 1108px #FFF, 512px 1867px #FFF, 682px 193px #FFF, 1308px 336px #FFF, 451px 303px #FFF, 821px 1052px #FFF, 1245px 984px #FFF, 1825px 1868px #FFF, 629px 831px #FFF, 1123px 773px #FFF, 1474px 1004px #FFF, 479px 180px #FFF, 581px 1989px #FFF, 1750px 1341px #FFF, 829px 637px #FFF, 1126px 1669px #FFF, 431px 434px #FFF, 1000px 1756px #FFF, 1964px 1169px #FFF, 1297px 1475px #FFF, 661px 1247px #FFF, 837px 325px #FFF, 497px 1994px #FFF, 1813px 130px #FFF, 1484px 1530px #FFF, 509px 1248px #FFF, 366px 1034px #FFF, 1991px 975px #FFF, 1895px 539px #FFF, 1865px 774px #FFF, 881px 1595px #FFF, 1047px 94px #FFF, 1119px 462px #FFF, 1997px 1015px #FFF, 1169px 1824px #FFF, 1742px 1054px #FFF, 1821px 1391px #FFF, 153px 239px #FFF, 1263px 474px #FFF, 1558px 460px #FFF, 1386px 149px #FFF, 629px 1030px #FFF, 1211px 1147px #FFF, 617px 998px #FFF, 1983px 2000px #FFF, 1071px 517px #FFF, 654px 1803px #FFF, 848px 130px #FFF, 1700px 250px #FFF, 738px 1413px #FFF, 1167px 1584px #FFF, 1714px 1969px #FFF, 1660px 1806px #FFF, 554px 556px #FFF, 154px 149px #FFF, 487px 1747px #FFF, 424px 1655px #FFF, 701px 950px #FFF, 816px 746px #FFF, 1236px 508px #FFF, 879px 952px #FFF, 1090px 644px #FFF, 343px 1434px #FFF, 1620px 1220px #FFF, 924px 428px #FFF, 32px 1574px #FFF, 1006px 107px #FFF, 548px 97px #FFF, 1615px 743px #FFF, 461px 1956px #FFF, 763px 1993px #FFF, 128px 75px #FFF, 1304px 1502px #FFF, 427px 1431px #FFF, 749px 781px #FFF, 544px 493px #FFF, 311px 832px #FFF, 514px 649px #FFF, 66px 1400px #FFF, 293px 1602px #FFF, 280px 1792px #FFF, 666px 1799px #FFF, 918px 1934px #FFF, 60px 574px #FFF, 326px 730px #FFF, 1766px 540px #FFF, 604px 966px #FFF, 914px 1628px #FFF, 760px 1636px #FFF, 230px 841px #FFF, 109px 508px #FFF, 1909px 1982px #FFF, 1268px 1227px #FFF, 613px 1336px #FFF, 575px 62px #FFF, 1238px 1947px #FFF, 1487px 683px #FFF, 1590px 363px #FFF, 529px 1816px #FFF, 1399px 1911px #FFF, 483px 930px #FFF, 1397px 1773px #FFF, 137px 100px #FFF, 1254px 314px #FFF, 841px 1432px #FFF, 868px 996px #FFF, 1891px 1031px #FFF, 523px 281px #FFF, 981px 10px #FFF, 114px 1643px #FFF, 1428px 908px #FFF, 764px 1796px #FFF, 643px 1322px #FFF, 44px 263px #FFF, 584px 1317px #FFF, 925px 126px #FFF, 876px 1713px #FFF, 1549px 383px #FFF, 36px 1645px #FFF, 144px 1612px #FFF, 196px 251px #FFF, 1801px 687px #FFF, 299px 1122px #FFF, 1534px 526px #FFF, 266px 1154px #FFF, 400px 1140px #FFF, 721px 1224px #FFF, 952px 1937px #FFF, 874px 838px #FFF, 812px 1973px #FFF, 587px 1573px #FFF, 1809px 1127px #FFF, 1462px 1879px #FFF, 874px 1522px #FFF, 993px 632px #FFF, 1054px 995px #FFF, 1196px 1937px #FFF, 1276px 394px #FFF, 110px 257px #FFF, 309px 507px #FFF, 1665px 1165px #FFF, 101px 27px #FFF, 1084px 1681px #FFF, 1944px 1526px #FFF, 94px 517px #FFF, 1399px 177px #FFF, 1281px 374px #FFF, 1661px 247px #FFF, 512px 1927px #FFF, 204px 1519px #FFF, 1779px 840px #FFF, 928px 654px #FFF, 1992px 136px #FFF, 43px 433px #FFF, 567px 361px #FFF, 1285px 1666px #FFF, 404px 404px #FFF, 1336px 626px #FFF, 1046px 1669px #FFF, 1565px 663px #FFF, 1165px 717px #FFF, 185px 222px #FFF, 1759px 1568px #FFF, 890px 1722px #FFF, 1866px 1914px #FFF, 1163px 1451px #FFF, 1405px 1427px #FFF, 528px 1966px #FFF, 1241px 1470px #FFF, 798px 1996px #FFF, 557px 482px #FFF, 1376px 1163px #FFF, 651px 945px #FFF, 1047px 1224px #FFF, 1749px 1916px #FFF, 146px 1519px #FFF, 828px 1252px #FFF, 1026px 1138px #FFF, 972px 161px #FFF, 463px 434px #FFF, 1457px 934px #FFF, 86px 1155px #FFF, 944px 1080px #FFF, 1069px 240px #FFF, 1337px 1046px #FFF, 712px 1798px #FFF, 1044px 231px #FFF, 433px 1452px #FFF, 45px 1492px #FFF, 1932px 273px #FFF, 806px 656px #FFF, 1789px 1485px #FFF, 1248px 1937px #FFF, 1648px 522px #FFF, 1525px 1483px #FFF, 42px 492px #FFF, 791px 271px #FFF, 1178px 489px #FFF, 752px 1874px #FFF, 1799px 1564px #FFF, 981px 1245px #FFF, 1999px 216px #FFF, 698px 634px #FFF, 1124px 750px #FFF, 86px 65px #FFF, 1493px 937px #FFF, 71px 1709px #FFF, 1383px 528px #FFF, 1935px 32px #FFF, 349px 1528px #FFF, 1977px 1368px #FFF, 235px 439px #FFF, 1928px 654px #FFF, 722px 593px #FFF, 794px 1310px #FFF, 1990px 735px #FFF, 1621px 739px #FFF, 366px 938px #FFF, 1252px 1142px #FFF, 1353px 264px #FFF, 1722px 1493px #FFF, 1404px 256px #FFF, 83px 1056px #FFF, 549px 1883px #FFF, 1949px 351px #FFF, 1538px 1784px #FFF, 1405px 1335px #FFF, 1985px 871px #FFF, 1037px 4px #FFF, 558px 922px #FFF, 134px 68px #FFF, 1714px 747px #FFF, 407px 1215px #FFF, 1554px 1897px #FFF, 551px 1514px #FFF, 1321px 105px #FFF, 773px 746px #FFF, 1141px 583px #FFF, 1136px 613px #FFF, 914px 420px #FFF, 1015px 1655px #FFF, 577px 261px #FFF, 1835px 1118px #FFF, 755px 840px #FFF, 85px 504px #FFF, 867px 1163px #FFF, 1973px 475px #FFF, 1482px 1801px #FFF, 677px 517px #FFF, 55px 1444px #FFF, 766px 336px #FFF, 1512px 1565px #FFF, 882px 143px #FFF, 203px 671px #FFF, 1466px 1636px #FFF, 1531px 1901px #FFF, 1521px 372px #FFF, 1909px 632px #FFF, 1084px 734px #FFF, 12px 1485px #FFF, 1558px 1526px #FFF, 1950px 1044px #FFF, 295px 1352px #FFF, 422px 557px #FFF, 807px 1145px #FFF, 536px 132px #FFF, 1821px 1997px #FFF, 1618px 169px #FFF, 196px 12px #FFF, 1168px 814px #FFF, 709px 675px #FFF, 1083px 981px #FFF, 1127px 1943px #FFF, 529px 224px #FFF, 1765px 238px #FFF, 47px 931px #FFF, 2000px 281px #FFF, 1508px 1768px #FFF, 867px 1842px #FFF, 1944px 1796px #FFF, 906px 389px #FFF, 1053px 90px #FFF, 503px 858px #FFF, 624px 1259px #FFF, 699px 559px #FFF, 914px 1419px #FFF, 481px 1441px #FFF, 1510px 42px #FFF, 96px 1772px #FFF, 1526px 775px #FFF, 509px 1188px #FFF, 708px 353px #FFF, 401px 109px #FFF, 1693px 1547px #FFF, 367px 1170px #FFF, 1721px 1801px #FFF, 1858px 1764px #FFF, 1084px 1733px #FFF, 1045px 1663px #FFF, 1924px 124px #FFF, 1224px 1313px #FFF, 846px 1805px #FFF, 1292px 1764px #FFF, 1625px 551px #FFF, 318px 37px #FFF, 626px 329px #FFF, 343px 1228px #FFF, 4px 469px #FFF, 750px 108px #FFF, 1464px 1963px #FFF, 1988px 1779px #FFF, 820px 1482px #FFF, 436px 87px #FFF, 1314px 1861px #FFF, 599px 418px #FFF, 1145px 255px #FFF, 172px 1090px #FFF, 452px 937px #FFF, 1722px 1966px #FFF, 1963px 1638px #FFF, 1640px 733px #FFF, 1247px 1394px #FFF, 652px 1562px #FFF, 1339px 687px #FFF, 432px 1535px #FFF, 1211px 513px #FFF, 1470px 276px #FFF, 1018px 1865px #FFF, 632px 103px #FFF, 1528px 1790px #FFF, 1948px 761px #FFF, 1176px 1276px #FFF, 301px 1202px #FFF, 1272px 241px #FFF, 61px 425px #FFF, 201px 1407px #FFF, 409px 1182px #FFF, 64px 1457px #FFF, 1242px 920px #FFF, 349px 147px #FFF, 945px 933px #FFF, 1900px 1252px #FFF, 1130px 853px #FFF, 1796px 877px #FFF, 629px 378px #FFF, 1624px 819px #FFF, 275px 1999px #FFF, 1738px 111px #FFF, 1239px 362px #FFF, 1217px 723px #FFF, 1246px 844px #FFF, 1634px 1302px #FFF, 1690px 1942px #FFF, 1757px 52px #FFF, 1390px 88px #FFF, 284px 629px #FFF, 1753px 444px #FFF, 1736px 1683px #FFF, 83px 765px #FFF, 902px 225px #FFF, 890px 1451px #FFF, 1023px 1759px #FFF, 1695px 1541px #FFF, 876px 441px #FFF, 1762px 1057px #FFF, 256px 205px #FFF, 1893px 314px #FFF, 486px 1722px #FFF, 1158px 435px #FFF, 1294px 1597px #FFF, 1386px 1551px #FFF, 882px 1044px #FFF, 1769px 157px #FFF, 1924px 1139px #FFF, 1825px 1856px #FFF, 766px 37px #FFF, 1783px 1134px #FFF, 79px 759px #FFF, 571px 1737px #FFF, 845px 880px #FFF, 774px 589px #FFF, 1771px 1411px #FFF, 1901px 1453px #FFF, 1317px 1465px #FFF, 1886px 539px #FFF, 757px 770px #FFF, 949px 214px #FFF, 895px 352px #FFF, 1108px 1665px #FFF, 1270px 882px #FFF, 1587px 1114px #FFF, 1103px 1838px #FFF, 1796px 911px #FFF, 1113px 1341px #FFF, 95px 1795px #FFF, 854px 150px #FFF, 1954px 121px #FFF, 284px 1542px #FFF, 118px 1226px #FFF, 1612px 42px #FFF, 1024px 477px #FFF, 890px 905px #FFF, 1421px 1141px #FFF, 1752px 1544px #FFF, 1928px 966px #FFF, 1585px 650px #FFF, 1575px 1557px #FFF, 141px 1108px #FFF, 200px 1575px #FFF, 1565px 1275px #FFF, 731px 761px #FFF, 828px 1690px #FFF, 1462px 740px #FFF, 529px 1397px #FFF, 514px 1885px #FFF, 511px 1640px #FFF, 433px 957px #FFF, 944px 1624px #FFF, 224px 1963px #FFF, 1450px 901px #FFF, 1460px 1056px #FFF, 1715px 1456px #FFF, 1285px 759px #FFF, 441px 1153px #FFF, 1363px 370px #FFF, 1723px 1941px #FFF, 1794px 1214px #FFF, 234px 548px #FFF, 918px 966px #FFF, 1512px 1097px #FFF, 1470px 406px #FFF, 1603px 1609px #FFF, 175px 1521px #FFF, 498px 154px #FFF, 128px 1829px #FFF, 1296px 1901px #FFF, 1111px 1275px #FFF, 474px 1968px #FFF, 117px 1907px #FFF, 458px 1016px #FFF, 665px 748px #FFF, 1502px 1189px #FFF, 1080px 417px #FFF, 1254px 1850px #FFF, 1536px 1754px #FFF, 1708px 1400px #FFF, 543px 187px #FFF, 1839px 721px #FFF, 1829px 1786px #FFF, 38px 615px #FFF, 542px 1947px #FFF, 107px 918px #FFF, 505px 464px #FFF, 76px 366px #FFF, 952px 1038px #FFF, 1229px 1227px #FFF, 372px 197px #FFF, 1603px 1089px #FFF, 673px 602px #FFF, 196px 1369px #FFF, 1240px 1478px #FFF, 602px 1576px #FFF, 647px 1799px #FFF, 114px 36px #FFF, 1410px 1551px #FFF, 413px 484px #FFF, 757px 836px #FFF, 1838px 1693px #FFF, 302px 721px #FFF, 1694px 1973px #FFF, 1177px 1606px #FFF, 1687px 657px #FFF, 1152px 943px #FFF, 990px 1439px #FFF, 68px 1127px #FFF, 1899px 551px #FFF, 817px 848px #FFF, 5px 1072px #FFF, 1696px 611px #FFF, 23px 1822px #FFF, 1135px 1411px #FFF, 1763px 1540px #FFF, 1614px 1401px #FFF, 991px 1404px #FFF, 1555px 1993px #FFF, 466px 1161px #FFF, 154px 1944px #FFF, 1833px 1207px #FFF, 714px 1339px #FFF, 374px 926px #FFF, 589px 311px #FFF, 791px 1558px #FFF, 986px 1599px #FFF, 1532px 882px #FFF, 1311px 1278px #FFF, 1172px 1395px #FFF, 1340px 890px #FFF, 17px 1807px #FFF, 1025px 1707px #FFF, 1639px 355px #FFF, 1862px 154px #FFF, 768px 1343px #FFF, 1680px 1118px #FFF, 819px 1288px #FFF, 525px 526px #FFF, 396px 588px #FFF, 160px 1751px #FFF, 753px 1358px #FFF, 567px 1556px #FFF, 1001px 448px #FFF, 65px 1998px #FFF, 1431px 1194px #FFF, 1963px 1756px #FFF, 1038px 86px #FFF, 884px 454px #FFF, 1225px 1987px #FFF, 1040px 1719px #FFF, 1214px 1740px #FFF, 927px 297px #FFF, 1544px 813px #FFF, 1162px 581px #FFF, 1504px 1184px #FFF, 1955px 519px #FFF, 1123px 1566px #FFF, 1279px 278px #FFF, 1923px 1929px #FFF, 642px 705px #FFF, 830px 1271px #FFF, 1016px 918px #FFF, 1077px 1885px #FFF, 60px 700px #FFF, 1564px 146px #FFF, 736px 1992px #FFF, 622px 313px #FFF, 1625px 92px #FFF, 84px 369px #FFF, 13px 1210px #FFF, 854px 1464px #FFF, 722px 697px #FFF, 305px 1037px #FFF, 269px 1296px #FFF, 697px 1043px #FFF, 1559px 1780px #FFF, 569px 1243px #FFF, 1517px 1674px #FFF, 228px 1122px #FFF, 267px 735px #FFF, 1671px 776px #FFF, 1051px 479px #FFF, 2000px 1516px #FFF, 1662px 1528px #FFF, 1531px 390px #FFF, 1993px 1663px #FFF, 1123px 968px #FFF, 1060px 1069px #FFF, 1071px 1814px #FFF, 1605px 1600px #FFF, 670px 169px #FFF, 1058px 1150px #FFF, 83px 1800px #FFF, 101px 1273px #FFF, 1695px 602px #FFF, 1361px 821px #FFF, 656px 1936px #FFF, 926px 1373px #FFF, 1825px 1026px #FFF, 1612px 1480px #FFF, 1859px 1248px #FFF, 72px 1863px #FFF, 1080px 1456px #FFF, 276px 1483px #FFF, 827px 1164px #FFF, 624px 1972px #FFF, 779px 475px #FFF, 1041px 52px #FFF, 225px 544px #FFF, 84px 483px #FFF, 340px 11px #FFF, 224px 13px #FFF, 901px 394px #FFF, 1962px 163px #FFF, 630px 169px #FFF, 1481px 172px #FFF, 482px 373px #FFF, 28px 154px #FFF, 1310px 1788px #FFF, 796px 796px #FFF, 1365px 325px #FFF, 758px 1187px #FFF, 1963px 1845px #FFF;
  animation: animStar 50s linear infinite;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1703px 844px #FFF, 887px 1020px #FFF, 1751px 797px #FFF, 1327px 1281px #FFF, 1400px 368px #FFF, 1727px 1110px #FFF, 799px 1093px #FFF, 450px 299px #FFF, 959px 76px #FFF, 96px 101px #FFF, 1376px 947px #FFF, 1251px 181px #FFF, 1353px 1333px #FFF, 150px 905px #FFF, 734px 1883px #FFF, 10px 548px #FFF, 247px 1066px #FFF, 1013px 1432px #FFF, 577px 1433px #FFF, 278px 1582px #FFF, 630px 1753px #FFF, 757px 912px #FFF, 1770px 338px #FFF, 841px 524px #FFF, 1327px 1876px #FFF, 662px 1999px #FFF, 918px 1970px #FFF, 1485px 1295px #FFF, 1639px 908px #FFF, 23px 131px #FFF, 429px 569px #FFF, 296px 695px #FFF, 1362px 722px #FFF, 774px 1925px #FFF, 812px 1268px #FFF, 1675px 419px #FFF, 1080px 741px #FFF, 1907px 181px #FFF, 563px 1573px #FFF, 275px 1300px #FFF, 201px 4px #FFF, 1074px 1724px #FFF, 289px 1665px #FFF, 1436px 1143px #FFF, 1937px 1811px #FFF, 1244px 296px #FFF, 803px 1807px #FFF, 1293px 1765px #FFF, 954px 999px #FFF, 1898px 1705px #FFF, 1328px 222px #FFF, 827px 182px #FFF, 1410px 1769px #FFF, 1624px 198px #FFF, 945px 836px #FFF, 552px 261px #FFF, 452px 259px #FFF, 1705px 982px #FFF, 1121px 1999px #FFF, 1695px 440px #FFF, 958px 1241px #FFF, 1836px 1717px #FFF, 41px 253px #FFF, 1133px 65px #FFF, 525px 1679px #FFF, 1313px 1922px #FFF, 1031px 146px #FFF, 1394px 929px #FFF, 584px 684px #FFF, 818px 1175px #FFF, 1702px 25px #FFF, 1571px 1900px #FFF, 1537px 1946px #FFF, 1121px 1384px #FFF, 921px 28px #FFF, 77px 1057px #FFF, 1868px 1639px #FFF, 393px 1798px #FFF, 1196px 1762px #FFF, 1386px 1904px #FFF, 1669px 925px #FFF, 587px 1401px #FFF, 1679px 290px #FFF, 464px 1771px #FFF, 574px 762px #FFF, 1240px 107px #FFF, 383px 243px #FFF, 1985px 1546px #FFF, 388px 952px #FFF, 1073px 336px #FFF, 1443px 418px #FFF, 803px 1094px #FFF, 1229px 1174px #FFF, 654px 610px #FFF, 905px 353px #FFF, 1768px 180px #FFF, 139px 840px #FFF, 640px 483px #FFF, 409px 134px #FFF, 1127px 795px #FFF, 397px 1229px #FFF, 52px 712px #FFF, 1732px 1200px #FFF, 1482px 1170px #FFF, 379px 1528px #FFF, 367px 1668px #FFF, 331px 1139px #FFF, 1577px 973px #FFF, 1685px 575px #FFF, 1091px 1558px #FFF, 1033px 497px #FFF, 1256px 719px #FFF, 1899px 833px #FFF, 981px 67px #FFF, 829px 1361px #FFF, 752px 1164px #FFF, 1126px 919px #FFF, 1303px 1651px #FFF, 882px 117px #FFF, 183px 784px #FFF, 1700px 92px #FFF, 82px 1733px #FFF, 1921px 781px #FFF, 1645px 83px #FFF, 1954px 1111px #FFF, 1913px 1503px #FFF, 755px 1474px #FFF, 849px 1825px #FFF, 1603px 116px #FFF, 70px 941px #FFF, 1387px 1049px #FFF, 1107px 1791px #FFF, 1221px 1116px #FFF, 468px 827px #FFF, 1597px 1648px #FFF, 439px 1916px #FFF, 129px 846px #FFF, 1019px 1178px #FFF, 1228px 494px #FFF, 108px 1015px #FFF, 1246px 143px #FFF, 790px 1127px #FFF, 1881px 1477px #FFF, 939px 461px #FFF, 167px 349px #FFF, 1969px 1175px #FFF, 351px 206px #FFF, 585px 1855px #FFF, 1804px 901px #FFF, 1735px 1709px #FFF, 505px 65px #FFF, 601px 1208px #FFF, 1939px 1229px #FFF, 1362px 945px #FFF, 1442px 1469px #FFF, 872px 1819px #FFF, 238px 1935px #FFF, 1698px 1915px #FFF, 1447px 532px #FFF, 419px 1675px #FFF, 1103px 856px #FFF, 1961px 1086px #FFF, 1442px 151px #FFF, 859px 1315px #FFF, 406px 943px #FFF, 12px 552px #FFF, 693px 1417px #FFF, 116px 1628px #FFF, 890px 1629px #FFF, 1501px 1254px #FFF, 1185px 1279px #FFF, 1764px 247px #FFF, 599px 1385px #FFF, 1768px 166px #FFF, 1238px 301px #FFF, 1061px 1056px #FFF, 1749px 941px #FFF, 1630px 959px #FFF, 1466px 1796px #FFF, 1810px 964px #FFF, 1132px 543px #FFF, 1296px 1657px #FFF, 1563px 928px #FFF, 662px 367px #FFF, 676px 568px #FFF, 327px 1397px #FFF, 887px 1601px #FFF, 1040px 1043px #FFF, 1445px 1177px #FFF, 810px 959px #FFF, 280px 1695px #FFF, 214px 1765px #FFF, 560px 1850px #FFF, 1849px 15px #FFF, 1662px 343px #FFF, 36px 1080px #FFF, 829px 1257px #FFF, 1799px 76px #FFF, 654px 1097px #FFF, 163px 538px #FFF;
  animation: animStar 100s linear infinite;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1074px 308px #FFF, 1071px 1498px #FFF, 1792px 1742px #FFF, 460px 193px #FFF, 894px 946px #FFF, 398px 7px #FFF, 130px 693px #FFF, 1452px 1572px #FFF, 576px 1491px #FFF, 853px 1854px #FFF, 938px 1585px #FFF, 893px 671px #FFF, 198px 641px #FFF, 351px 1313px #FFF, 721px 856px #FFF, 1483px 1682px #FFF, 1133px 1993px #FFF, 1737px 776px #FFF, 1051px 131px #FFF, 941px 118px #FFF, 1680px 469px #FFF, 1078px 1407px #FFF, 526px 972px #FFF, 342px 660px #FFF, 1987px 126px #FFF, 843px 999px #FFF, 1461px 683px #FFF, 866px 760px #FFF, 1991px 1530px #FFF, 1654px 354px #FFF, 513px 310px #FFF, 1802px 1287px #FFF, 157px 1088px #FFF, 1224px 535px #FFF, 952px 992px #FFF, 19px 806px #FFF, 1287px 1813px #FFF, 1951px 1033px #FFF, 1873px 631px #FFF, 419px 1875px #FFF, 1259px 417px #FFF, 863px 818px #FFF, 1551px 1813px #FFF, 620px 1636px #FFF, 1306px 901px #FFF, 1635px 843px #FFF, 661px 1596px #FFF, 404px 1061px #FFF, 237px 1894px #FFF, 590px 1096px #FFF, 617px 443px #FFF, 1883px 1012px #FFF, 661px 868px #FFF, 628px 778px #FFF, 1860px 1491px #FFF, 915px 371px #FFF, 1556px 551px #FFF, 1970px 198px #FFF, 11px 881px #FFF, 788px 1725px #FFF, 1586px 1714px #FFF, 1517px 510px #FFF, 1767px 1316px #FFF, 1396px 271px #FFF, 1739px 616px #FFF, 461px 559px #FFF, 1258px 1672px #FFF, 957px 1479px #FFF, 1px 1705px #FFF, 1798px 1328px #FFF, 262px 396px #FFF, 1499px 1462px #FFF, 1342px 1232px #FFF, 1249px 1005px #FFF, 42px 465px #FFF, 345px 386px #FFF, 1124px 868px #FFF, 1827px 1756px #FFF, 1887px 45px #FFF, 1287px 1701px #FFF, 947px 1668px #FFF, 1074px 1855px #FFF, 1482px 516px #FFF, 1421px 1538px #FFF, 1462px 1669px #FFF, 1027px 366px #FFF, 119px 983px #FFF, 779px 463px #FFF, 1301px 1282px #FFF, 1122px 1945px #FFF, 57px 5px #FFF, 217px 1852px #FFF, 1692px 947px #FFF, 801px 839px #FFF, 995px 624px #FFF, 1702px 1982px #FFF, 1913px 1760px #FFF, 1447px 604px #FFF, 1674px 1587px #FFF, 1952px 587px #FFF;
  animation: animStar 150s linear infinite;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1000px);
  }
}
@media only screen and (min-width: 310px) {
  #letter-div {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}
@media only screen and (min-width: 576px) {
  #letter-div {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }
}
@media only screen and (min-width: 768px) {
  #letter-div {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
  }
}
.word-div {
  padding: 2rem;
}

.draw-border {
  box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: #ffe593;
}
.draw-border:hover::before {
  border-color: #ffe593;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  border-color: #ffe593;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
  transition-delay: 0s, 0.25s, 0s;
}

/*# sourceMappingURL=styles.css.map */
